.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.form-control {
  width: 300px;
}
.list-group-item , .list-group-item-action {
  width: 300px;
}
.list-group-item-action:first-child {
  background-color: rgba(208, 71, 71, 0.205);
}
.scroll-list {
  height: 300px;
	width: 300px;
	border: 1px solid #ddd;
	background: #f1f1f1;
  overflow-y: scroll;
}
.modal {
  padding-top: 20vh;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  -moz-appearance: none;
}
.create-button {
  background-color: rgb(136, 35, 35);
}
.modal-header {
  margin-bottom: 30px;
}