.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10%;
}

.form-control {
  width: 100%;
}
.list-group-item , .list-group-item-action {
  width: 300px;
}
.list-group-item-action:first-child {
  background-color: rgba(18, 68, 160, 0.443);
}

.search-container {
  width: 300px;
}

.scroll-list {
  display: flex;
  height: 300px;
	width: 300px;
	border: 1px solid #ddd;
	background: #f1f1f1;
  overflow-y: scroll;
  overflow: hidden;
}
.scroll-list-hidden {
  display: none;
}
.fade {
  display: flex;
}
.modal {
  
  align-items: center;
  justify-content: center;
}
.modal-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.modal-content {
  width: 200px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.md-form {
  width: 80%;
}
.mb-5 {
  margin-bottom: 1rem!important;
}

input {
  width: 300px;
}

.modal-header {
  margin-bottom: 10px;
}